//-------------------------------//
//           RESPONSIVE          //
//-------------------------------//
$mobile-min:                1px;
$mobile-l-min:              460px;
$mobile-l-max:              736px;
$mobile-max:                767px;

$tablet-min:                768px;
$tablet-l-min:              960px;
$tablet-max:                1159px;

$screen-min:                1160px;
$screen-max:                1359px;

$largescreen-min:           1360px;

$breakpoints: (
        mobile-min: $mobile-min,
        mobile-max: $mobile-max,
        mobile-l-min: $mobile-l-min,
        mobile-l-max: $mobile-l-max,

        tablet-min: $tablet-min,
        tablet-max: $tablet-max,
        tablet-l-min: $tablet-l-min,

        screen-min: $screen-min,
        screen-max: $screen-max,

        largescreen-min: $largescreen-min
);

$mappy-queries: (
        mobile: mappy-bp(mobile-min),
        mobile-only: mappy-bp(mobile-min mobile-max),
        mobile-bigger: mappy-bp(mobile-l-min),
        mobile-landscape: mappy-bp(mobile-l-min orientation landscape),
        tablet: mappy-bp(tablet-min),
        tabet-only: mappy-bp(tablet-min tablet-max),
        tablet-bigger: mappy-bp(tablet-l-min),
        screen: mappy-bp(screen-min),
        screen-only: mappy-bp(screen-min screen-min),
        largescreen: mappy-bp(largescreen-min)
);


//-------------------------------//
//              GRID             //
//-------------------------------//
$grid-cols: 12;
$grid-map: (
  '': 0,
  '-sm': 'mobile',
  '-md': 'tablet',
  '-lg': 'screen',
  '-xl': 'largescreen'
);

$container-padding-x--sm: 1rem;
$container-padding-x--md: 2rem;
$container-padding-x--lg: 3rem;

$container-max-w: 1360px;

$col-padding-x--sm: .5rem;
$col-padding-x--md: .8rem;
$col-padding-x--lg: 1rem;
$col-padding-x--xl: 1.25rem;

$gaps-stop: 50;

//-------------------------------//
//           TYPOGRAPHY          //
//-------------------------------//
$base-font-size: 16px;
$base-line-height: 1.5;

$text-font-family: montserrat, sans-serif;

$text-s: 1rem;

$text-s--smaller: 87.5%; // 14px;
$text-s--small: 81.25%; // 13px;
$text-s--smallest: 75%; // 12px

$text-s--bigger: 112.5%; // 18px;
$text-s--big: 125%; // 20px;

$typi: (
  base: (
    null: (14px, 1.6), // null vychozi hodnota - mobile
    tablet-min: (15px, 1.75), // tablet
    screen-min: (15px, 1.75), // screen (desktop)
    largescreen-min: (16px, 1.75), // screen (desktop) s vysokym rozlysenim
  ),

  h1-font-map: (
    null: (18px, 1.6), // bere jako defaultni - bez media queries
    tablet-min: (24px, 1.75),
    screen-min: (36px, 1.75),
    largescreen-min: (42px, 1.75),
  )
);


//-------------------------------//
//             COLORS            //
//-------------------------------//
$light-c: #ffffff;
$dark-c: #000000;

$cta-c: #2ac615;

$text-c: #282828;
$text-c--lighter: #585858;
$text-c--light: #a0a0a0;
$text-c--lightest: #e0e0e0;


//-------------------------------//
//              MISC             //
//-------------------------------//
$img-path: './../img';


//-------------------------------//
//             OBJECTS           //
//-------------------------------//
$header-h: 90px;


//-------------------------------//
//           COMPONENTS          //
//-------------------------------//

// Checkbox
$checkbox-w: 20px;
$checkbox-h: $checkbox-w;

$checkbox-bg-c: transparent;
$checkbox-bg-c--active: transparent;

$checkbox-border-c: #c4c4c4;

$checkbox-icon-w: 20px;
$checkbox-icon-h: 20px;

// Switch - TODO colors to variables
$switch-h: 24px;
$switch-w: $switch-h * 2;


$switch-toggle-w: $switch-h - 4px;
$switch-toggle-h: $switch-h - 4px;

$switch-primary-c: #50a2ff;
$switch-neutral-c: #d0d0d0;