//-------------------------------//
//           RESPONSIVE          //
//-------------------------------//
$mobile-min:                1px;
$mobile-l-min:              567px;
$mobile-l-max:              736px;
$mobile-max:                767px;

$tablet-min:                768px;
$tablet-l-min:              800px;
$tablet-max:                1159px;

$screen-min:                1160px;
$screen-max:                1679px;

$largescreen-min:           1680px;

$breakpoints: (
        mobile-min: $mobile-min,
        mobile-max: $mobile-max,
        mobile-l-min: $mobile-l-min,
        mobile-l-max: $mobile-l-max,

        tablet-min: $tablet-min,
        tablet-max: $tablet-max,
        tablet-l-min: $tablet-l-min,

        screen-min: $screen-min,
        screen-max: $screen-max,

        largescreen-min: $largescreen-min
);

$mappy-queries: (
        
        mobile: mappy-bp(mobile-min),
        mobile-only: mappy-bp(mobile-min mobile-max),
        mobile-bigger: mappy-bp(mobile-l-min),
        mobile-landscape: mappy-bp(mobile-l-min orientation landscape),
        tablet: mappy-bp(tablet-min),
        tabet-only: mappy-bp(tablet-min tablet-max),
        tablet-landscape: mappy-bp(tablet-min orientation landscape),
        screen: mappy-bp(screen-min),
        screen-only: mappy-bp(screen-min screen-min),
        largescreen: mappy-bp(largescreen-min)
);


//-------------------------------//
//              GRID             //
//-------------------------------//
$grid-cols: 12;
$grid-map: (
  '': 0,
  '-sm': 'mobile',
  '-md': 'tablet',
  '-lg': 'screen',
  '-xl': 'largescreen'
);

$container-padding-x--md: 2rem;
$container-padding-x--lg: 3rem;

$col-padding-x--sm: .5rem;
$col-padding-x--md: .8rem;
$col-padding-x--lg: 1rem;
$col-padding-x--xl: 1.25rem;

$gaps-stop: 50;

//-------------------------------//
//           TYPOGRAPHY          //
//-------------------------------//
$base-font-size: 16px;
$base-line-height: 1.5;

$typi: (
  base: (
    null: (14px, 1.6), // null vychozi hodnota - mobile
    tablet-min: (15px, 1.75), // tablet
    screen-min: (15px, 1.75), // screen (desktop)
    largescreen-min: (16px, 1.75), // screen (desktop) s vysokym rozlysenim
  ),

  h1-font-map: (
    null: (18px, 1.6), // bere jako defaultni - bez media queries
    tablet-min: (24px, 1.75),
    screen-min: (36px, 1.75),
    largescreen-min: (42px, 1.75),
  )
);


//-------------------------------//
//              MISC             //
//-------------------------------//
$img-path: './../img';

$stop: 50;