.c-checkbox {
  position: relative;

  -webkit-tap-highlight-color: transparent;
}

.c-checkbox .c-checkbox__input {
  position: absolute;
  z-index: -1;

  width: 0;
  height: 0;

  opacity: 0;
}

.c-checkbox__label {
  display: flex;

  flex-flow: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;

  color: $text-c;
  font-size: $text-s;

  cursor: pointer;
}

.c-checkbox__text {
  position: relative;

  padding-top: 2px;

  font-size: $text-s--smallest;
  letter-spacing: 0.8px;

  color: $text-c;
}

.c-checkbox__label--center {
  justify-content: center;
}

.c-checkbox__indicator {
  position: relative;
  flex: 0 0 $checkbox-w;
  max-width: $checkbox-w;

  top: 0px;

  height: $checkbox-h;

  margin-right: .675rem;

  background-color: $checkbox-bg-c;

  border: 2px solid $checkbox-border-c;
  border-radius: 3px;
}

.c-checkbox__indicator:before {
  content: "";

  display: none;

  position: absolute;

  top: -4px;
  left: 2px;

  width: $checkbox-icon-w;
  height: $checkbox-icon-h;

  // background-image: url(#{$img-path}/tick.png); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.c-checkbox__input:checked + .c-checkbox__indicator {
  background-color: $checkbox-bg-c--active;
}

.c-checkbox__input:checked + .c-checkbox__indicator:before {
  display: block;
}


