html,
body {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.icon {
  width: 20px;
  height: 20px;
}

section {
  height: 600px;
}

.section_1 {
  background-color: #F7C59F;
}

.section_2 {
  background-color: #EFEFD0;
}

.section_3 {
  background-color: #004E89;
}

.section_4 {
  background-color: #1A659E;
}

.section_5 {
  background-color: #FF6B35;
}

